.fill-width {
  width: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-grow {
  flex-grow: 1;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.flex-break {
  width: 100%;
  flex-shrink: 0;
  opacity: 0;
  height: 0px;
  border: none;
  margin: 0;
}
