{
    "tags": {
      "allowUnknownTags": true,
      "recurseDepth": 10,
      "dictionaries": ["jsdoc", "closure"]
    },
    "source": {
      "include": ["./src"],
      "includePattern": ".+\\.js$"
    },
    "opts": {
      "destination": "public/docs",
      "recurse": true,
      "readme": "README.md"
    },
    "sourceType": "module",
    "plugins": ["plugins/markdown"]
}