@import "@/assets/style/base.css";

#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* utility */
.fullheightcontent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.scrolloverflow {
  overflow: auto;
  width: 100%;
  height: 100%;
}
.hidescroll::-webkit-scrollbar {
  display: none;
}
.flex_spacer {
  flex: 1;
  user-select: none;
  pointer-events: none;
}

/* headings */
h1.title_text {
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 34px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
h2.header_style {
  font-size: 60px;
  font-weight: 500;
}
h3.secondary_home_text {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.08em;
  font-weight: 500;
}

/* text */
.hideoverflow {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

/* buttons */
.action-btn {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-on-action);
  background-color: var(--color-action);
  padding: 16px 75px;
  border-radius: 10px;
  border: none;
}
.click-action-inline {
  display: inline-block;
}
.click-action
/* ,.click-action-inline  */ {
  cursor: pointer;
  transform: scale(1);
  transition: var(--transition-click-action);
  transform-origin: center;
}
main.parent:not(.simplified) .click-action:hover
/* ,.click-action-inline:hover  */ {
  transform: scale(1.05);
}
main.parent:not(.simplified) .click-action:active
/* ,.click-action-inline:active */ {
  transform: scale(0.95);
}
.small-action-btn {
  padding: 7px 10px;
  padding-left: 2.22em;
  background-color: var(--color-theme);
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-theme-accent);
  border: solid 2px var(--color-theme-accent-border);
  background-image: url(@/assets/img/general/user-icon.png);
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 1.44em;
  margin-right: 0px;
}

.small-action-btn.linked {
  background-image: url(@/assets/img/general/user-linked.png);
}
/* google branding for login */
.small-action-btn.oauth {
  background-color: #fff;
  color: #000;
  background-image: url(@/assets/img/general/oauth.png);
  background-image: url(@/assets/img/general/oauth.svg);
}
/* override toast min width */
@media (min-width: 500px) {
  .toast {
    width: unset;
    max-width: unset;
  }
}
@media (max-width: 500px) {
  #themed_body.parent {
    --footer-height: 60px;
  }
}
/* fix toast text alignment */
.toast.default,
.toast.transparent {
  align-items: center;
}
/* fix popup icons on dark mode */
.popup-icon {
  filter: var(--filter-icon);
}
/* for page sizing */
.center-1000 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.gohome {
  user-select: none;
  cursor: pointer;
}
.button_pointer_text {
  background-color: var(--color-button-display);
  color: var(--color-on-overlay-input);
  padding: var(--padding-button-display);
  display: inline-block;
  border-radius: var(--radius-button-display);
  font-size: 0.8em;
  opacity: 0.8;
  user-select: none;
}
.overlay_contents_text:has(.button_pointer_icon) {
  line-height: 20px;
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
}
.overlay_contents_text:has(.button_pointer_text) {
  line-height: 1.75;
}
.overlay_contents_text .button_pointer_text {
  line-height: 1;
}

.button_pointer_text.class_name {
  background-color: var(--color-class-alt);
  color: var(--color-class);
  font-weight: 600;
}

.button_pointer_icon {
  padding: 0 var(--padding-button-display-horizontal) 0 0;
  margin: 0 5px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  height: 25px;
  transform: translateY(25%);
}
main.parent:not(.simplified) .button_pointer_icon.click-action {
  transform: scale(1) translateY(25%);
}
main.parent:not(.simplified) .button_pointer_icon.click-action:hover {
  transform: scale(1.05) translateY(25%);
}
main.parent:not(.simplified) .button_pointer_icon.click-action:active {
  transform: scale(0.95) translateY(25%);
}
.button_pointer_icon .icon {
  width: 25px;
  height: 25px;
}

/* theme button */
.theme_button {
  display: block;
  height: var(--size-sidebar-button);
  width: var(--size-sidebar-button);
  cursor: pointer;
  z-index: 1;
  border-radius: calc(var(--radius-sidebar) - var(--padding-sidebar) / 3);
  border: none;
  background-color: var(--color-on-bg);
  padding: 0;
  /* animation */
  transition: var(--transition-click-action), width 0.2s ease-in-out;
  transform-origin: calc(var(--size-sidebar-button) / 2);
  /* layout */
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
/* little animation on theme change */
.theme_icon {
  transition: transform 0.5s cubic-bezier(0.49, -0.02, 0, 1.38);
}
/* [_theme="dark"] .theme_button .theme_icon {
  transform: rotate(360deg);
} */
.theme_button > * {
  flex-shrink: 0;
}

.toggle_text {
  color: #aaa;
  filter: var(--filter-icon);
  width: calc(var(--width-sidebar-button-showing) - var(--size-sidebar-button));
  text-align: right;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", "Lato", "Inter", sans-serif;
  padding-right: 10px;
}
.theme_button:hover,
.theme_button:active {
  width: calc(var(--width-sidebar-button-showing));
}
.theme_icon,
.themed_icon {
  height: 100%;
  width: var(--size-sidebar-button);
  filter: var(--filter-icon);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  user-select: none;
  pointer-events: none;
}
.theme_icon {
  background-image: url(@/assets/img/general/portal/theme/light.png);
  background-image: url(@/assets/img/general/portal/theme/light.svg);
}
[_theme="dark"] .theme_icon {
  background-image: url(@/assets/img/general/portal/theme/dark.png);
  background-image: url(@/assets/img/general/portal/theme/dark.svg);
  transform: rotate(360deg);
}
