/* portal overlay */
.overlay_center_view {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.overlay_center_view > .overlay_close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.overlay_close:not([closable="false"]) {
  cursor: pointer;
}
.overlay_center_view > .router_center_view {
  width: 100%;
  max-width: 450px;
  max-height: 500px;
}
.overlay_center_view > .router_center_view,
.modaltype {
  background-color: var(--color-bg);
  box-shadow: var(--shadow-overlay-highlight);
  border-radius: var(--radius-overlay);
  padding: 0;
  border: solid var(--thickness-overlay-border) var(--color-overlay-border);
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  z-index: 7;
  overflow: hidden;
}
.overlay_center_view > .router_center_view > *:not(.nopad),
.modaltype > *:not(.nopad),
.overlay_center_view > .router_center_view .pad_overlay {
  padding: var(--padding-overlay);
}
@media (max-width: 500px) {
  .desktop_only_text {
    display: none;
  }
}
@media (min-width: 800px) {
  .overlay_center_view > .router_center_view .overlay_more_pad_horizontal {
    padding-left: calc(var(--padding-overlay) * 3);
    padding-right: calc(var(--padding-overlay) * 3);
  }
}
.overlay_center_view > .router_center_view .bottom_actions,
.modaltype .bottom_actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: calc(var(--padding-overlay) / 1.5) var(--padding-overlay);
}
.bottom_actions > *:not(.flex_spacer) {
  margin-left: var(--padding-overlay);
  height: var(--height-overlay-action);
  padding: 0 var(--padding-overlay-action);
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.bottom_actions > *:first-child {
  margin-left: 0;
  background-color: #00000000;
  color: var(--color-text);
  padding: 0;
}
.bottom_actions > *:first-child:hover {
  text-decoration: underline;
}
.bottom_actions > .close_action:first-child {
  margin-left: calc(var(--padding-overlay) / 2);
}
.bottom_actions > *:last-child,
.bottom_actions > .primary_styled,
.inputs_row .styled_input.primary_styled {
  background-color: var(--color-overlay-action);
  color: var(--color-on-overlay-action);
}
.bottom_actions > *:last-child[disabled],
.bottom_actions > .primary_styled[disabled],
.inputs_row .styled_input.primary_styled[disabled] {
  cursor: not-allowed;
  background-color: var(--color-overlay-action-disabled);
  color: var(--color-on-overlay-action-disabled);
}
.overlay_contents {
  flex-grow: 1;
  overflow-y: auto;
  border: solid var(--thickness-overlay-border) var(--color-overlay-border);
  border-left: none;
  border-right: none;
}
.modal_header,
.modal_header_title {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
h2.modal_header_title,
h2.modal_header_title > *,
h2.header_style.modal_header_title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0;
  flex-shrink: 0;
}

.inputs_row,
.spaced_contents {
  margin: var(--padding-overlay) 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
}

.inputs_row .styled_input,
.styled_obj {
  /* spacing */
  margin: 0;
  margin-right: calc(var(--padding-overlay) / 2);
  /* sizing */
  height: var(--height-overlay-input);
  padding: 0 var(--padding-overlay-input);
  width: 0px;
  flex-grow: 1;
  /* styles */
  background-color: var(--color-overlay-input);
  color: var(--color-on-overlay-input);
  border: none;
  border-radius: var(--radius-overlay-input);
}
.inputs_row .styled_input:focus {
  outline: none;
}
.inputs_row .styled_input::placeholder,
.inputs_row .styled_input[value=""],
.inputs_row [value=""] {
  opacity: 0.75;
}

.inputs_row .styled_input:last-child,
.styled_obj:last-child {
  margin-right: 0;
}
.inputs_row .styled_input,
.styled_obj,
.overlay_contents_text {
  font-size: 14px;
}

/* overlay sections */
.overlay_contents_section:not(:first-child)::before {
  content: "";
  position: absolute;
  display: block;
  width: 60%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-top: solid var(--thickness-overlay-section-separator)
    var(--color-overlay-section-separator);
}
.overlay_contents_section {
  position: relative;
  width: 100%;
  padding: calc(var(--padding-overlay) / 1.5) 0;
}
.overlay_contents_section:first-child {
  padding-top: 0;
}
.overlay_contents_section:last-child {
  padding-bottom: 0;
}

.overlay_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}
.styled_obj {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
select.styled_obj {
  padding-left: calc(var(--padding-overlay-input) - 4px);
}
.spaced_contents {
  flex-flow: column nowrap;
}
.spaced_contents > * {
  margin: 0;
  width: 100%;
  margin-bottom: calc(var(--padding-overlay) / 2);
  /* sizing */
  flex-basis: var(--height-overlay-input);
  height: unset;
  flex-shrink: 0;
  padding: calc((var(--height-overlay-input) - 18px) / 2) var(--padding-overlay-input);
  line-height: 18px;
}
.spaced_contents > *:last-child {
  margin-bottom: 0;
}
.styled_line__label {
  opacity: 0.7;
  width: 80px;
  user-select: none;
  flex-shrink: 0;
}
.styled_line__separator {
  height: calc(100% + 5px);
  min-height: 18px;
  border-left: solid var(--thickness-overlay-border) var(--color-overlay-border);
  margin: 0 calc(var(--padding-overlay) / 2);
  width: 0px;
}
.styled_line__value {
  font-weight: 500;
  white-space: pre-wrap;
}
.styled_textarea {
  flex-grow: 1;
  width: 100%;
  min-height: calc(var(--height-overlay-input) * 2);
  line-height: calc(var(--height-overlay-input) - 2 * 10px);
  padding-top: 10px;
  padding-bottom: 10px;
}
.styled_obj.styled_textarea {
  margin: calc(var(--padding-overlay) / 2) 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.inputs_row .flex-break {
  flex-basis: 100%;
  flex-shrink: 0;
  height: 0;
}
.inputs_row:has(.flex-break) {
  flex-flow: row wrap;
}

/* links styles */
.links_obj {
  padding: calc(((var(--height-overlay-input) - 18px) / 2) - var(--margin-overlay-link));
  padding-left: var(--padding-overlay-input);
}
.styled_line_links {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  overflow: hidden;
}
.styled_line_links__link {
  display: block;
  padding: 0 var(--padding-overlay-link);
  height: var(--height-overlay-link);
  line-height: var(--height-overlay-link);
  background-color: var(--color-overlay-link);
  margin: var(--margin-overlay-link);
  border-radius: var(--radius-overlay-link);
  /* overflow */
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* layout */
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  /* styles */
  cursor: pointer;
}
.styled_line_links__account {
  background-color: var(--color-overlay-link);
  padding: var(--padding-overlay-secondary-input);
  padding-left: 5px;
  border-radius: var(--radius-overlay-link);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.styled_line_links__account .styled_line_links__remove {
  height: 20px;
  flex-basis: 20px;
  margin-left: 2.5px;
  cursor: pointer;
  user-select: none;
  background-color: var(--color-overlay-input);
  border-radius: 3px;
}
.styled_line_links__account .styled_line_links__remove .remove_icon {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.styled_line_links__account .styled_line_links__email {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: hidden;
  white-space: nowrap;
  text-align: center;
  cursor: default;
  line-height: 25px;
}
.styled_line_links__link:hover,
.styled_line_links__account.active {
  background-color: var(--color-overlay-link-hover);
}
.styled_line_links__remove:hover {
  background-color: var(--color-overlay-link-remove-hover);
  color: var(--color-on-overlay-link-remove-hover);
}
/* links input */
.styled_input.styled_links_box {
  padding: var(--padding-overlay-input);
  padding-top: 10px;
  height: unset;
}
hr.styled_links_separator {
  margin: 10px 0;
  border: none;
  border-top: solid 2px var(--color-on-overlay-input);
  opacity: 0.1;
}
.styled_links_add {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: stretch;
}
.styled_links_add__path {
  margin-bottom: calc(var(--padding-overlay) / 2);
}
.styled_links_add__text {
  margin-right: calc(var(--padding-overlay) / 2);
}
.styled_links_add input,
.styled_links_add button {
  flex-grow: 1;
  flex-basis: 51%;
  border-radius: 5px;
  border: none;
  padding: var(--padding-overlay-secondary-input);
  height: var(--height-overlay-secondary-input);
  background-color: var(--color-overlay-secondary-input);
  color: var(--color-on-overlay-input);
}
.styled_links_add button,
.styled_links_add__action {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--color-overlay-secondary-action);
}
.styled_links_add__action[disabled] {
  color: var(--color-on-overlay-action-disabled);
  background-color: var(--color-overlay-secondary-input);
}
.styled_links_display .placeholder {
  opacity: 0.25;
}
/* modal sizing and overflow */
@media (max-width: 490px) {
  .overlay_center_view > .router_center_view {
    max-width: calc(100% - 40px);
  }
}
@media (max-height: 540px) {
  .overlay_center_view > .router_center_view {
    max-height: calc(100% - 40px);
  }
}
.overlay_contents::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 14px;
  cursor: pointer;
}
.overlay_contents::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}

textarea::-webkit-scrollbar-track {
  background-color: var(--color-overlay-input);
}

.overlay_contents::-webkit-scrollbar-thumb {
  background-color: var(--color-overlay-input);
  border-radius: 1000px;
  border: solid 4px var(--color-bg);
  cursor: pointer;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-overlay-input-scrollbar);
  border-radius: 1000px;
  border: solid 4px var(--color-overlay-input);
  cursor: pointer;
}

/* hide scrollbar corners */
textarea::-webkit-scrollbar-corner {
  background-color: transparent;
  display: none;
}

/* animate in overlay */
.overlay_center_view.overlay_slot__wrapper > * {
  opacity: 0;
  transform: scale(0.9);
  animation: scale_in 0.25s ease forwards;
}
.overlay_center_view {
  background: none;
  backdrop-filter: none;
  animation: show_blur_bg 0.25s ease forwards;
}
/* animate out overlay */
.overlay_center_view.animate_out {
  animation: hide_blur_bg 0.25s ease forwards;
}
.overlay_center_view.overlay_slot__wrapper.animate_out > * {
  opacity: 0;
  transform: scale(1);
  animation: scale_out 0.25s ease forwards;
}

/* scale and fade in with slight bounce */
@keyframes scale_in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale_out {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
@keyframes show_blur_bg {
  0% {
    background: #00000000;
    backdrop-filter: none;
  }

  100% {
    background: var(--color-overlay);
    backdrop-filter: blur(5px);
  }
}
@keyframes hide_blur_bg {
  0% {
    background: var(--color-overlay);
    backdrop-filter: blur(5px);
  }

  100% {
    background: #00000000;
    backdrop-filter: none;
  }
}
