/* portal overlay */
.overlay_center_view {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.overlay_center_view > .overlay_close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
}
.overlay_center_view > .router_center_view {
  width: 100%;
  /* height: 100%; */
  max-width: 450px;
  max-height: 500px;
  background-color: var(--color-bg);
  box-shadow: var(--shadow-highlight);
  border-radius: var(--radius-overlay);
  padding: 0;
  border: solid var(--thickness-overlay-border) var(--color-overlay-border);
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  z-index: 7;
}
.overlay_center_view > .router_center_view > * {
  padding: var(--padding-overlay);
}
.router_center_view .bottom_actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: calc(var(--padding-overlay) / 1.5) var(--padding-overlay);
}
.bottom_actions > * {
  margin-left: var(--padding-overlay);
  height: var(--height-overlay-action);
  padding: 0 var(--padding-overlay-action);
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.bottom_actions > *:first-child {
  margin-left: 0;
  background: none;
  color: var(--color-text);
  padding: 0;
}
.bottom_actions > *:first-child:hover {
  text-decoration: underline;
}
.bottom_actions > *:last-child {
  background-color: var(--color-overlay-action);
  color: var(--color-on-overlay-action);
}
.bottom_actions > *:last-child[disabled] {
  cursor: not-allowed;
  background-color: var(--color-overlay-action-disabled);
  color: var(--color-on-overlay-action-disabled);
}
.overlay_contents {
  flex-grow: 1;
  overflow-y: auto;
  border: solid var(--thickness-overlay-border) var(--color-overlay-border);
  border-left: none;
  border-right: none;
}
h2.modal_header_title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0;
}

.inputs_row,
.spaced_contents {
  margin: var(--padding-overlay) 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
}

.inputs_row .styled_input,
.styled_obj {
  /* spacing */
  margin: 0;
  margin-right: calc(var(--padding-overlay) / 2);
  /* sizing */
  height: var(--height-overlay-input);
  padding: 0 var(--padding-overlay-input);
  width: 0px;
  flex-grow: 1;
  /* styles */
  background-color: var(--color-overlay-input);
  color: var(--color-on-overlay-input);
  border: none;
  border-radius: var(--radius-overlay-input);
}
.inputs_row .styled_input:focus {
  outline: none;
}
.inputs_row .styled_input::placeholder,
.inputs_row .styled_input[value=""],
.inputs_row [value=""] {
  opacity: 0.75;
}
.inputs_row .styled_input:last-child,
.styled_obj:last-child {
  margin-right: 0;
}
.inputs_row .styled_input,
.styled_obj,
.overlay_contents_text {
  font-size: 14px;
}
.styled_obj {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.spaced_contents {
  flex-flow: column nowrap;
}
.spaced_contents > * {
  margin: 0;
  width: 100%;
  margin-bottom: calc(var(--padding-overlay) / 2);
  /* sizing */
  flex-basis: var(--height-overlay-input);
  height: unset;
  flex-shrink: 0;
  padding: calc((var(--height-overlay-input) - 18px) / 2) var(--padding-overlay-input);
  line-height: 18px;
}
.spaced_contents > *:last-child {
  margin-bottom: 0;
}
.styled_line__label {
  opacity: 0.7;
  width: 80px;
  user-select: none;
}
.styled_line__separator {
  height: calc(100% + 5px);
  min-height: 18px;
  border-left: solid var(--thickness-overlay-border) var(--color-overlay-border);
  margin: 0 calc(var(--padding-overlay) / 2);
  width: 0px;
}
.styled_line__value {
  font-weight: 500;
  white-space: pre-wrap;
}
.styled_textarea {
  flex-grow: 1;
  width: 100%;
  min-height: calc(var(--height-overlay-input) * 2);
  line-height: calc(var(--height-overlay-input) - 2 * 10px);
  padding-top: 10px;
  padding-bottom: 10px;
}
.inputs_row .flex-break {
  flex-basis: 100%;
  flex-shrink: 0;
  height: 0;
}
.inputs_row:has(.flex-break) {
  flex-flow: row wrap;
}
/* modal sizing and overflow */
@media (max-width: 490px) {
  .overlay_center_view > .router_center_view {
    max-width: calc(100% - 40px);
  }
}
@media (max-height: 540px) {
  .overlay_center_view > .router_center_view {
    max-height: calc(100% - 40px);
  }
}
.overlay_contents::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 14px;
  cursor: pointer;
}
.overlay_contents::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}

textarea::-webkit-scrollbar-track {
  background-color: var(--color-overlay-input);
}

.overlay_contents::-webkit-scrollbar-thumb {
  background-color: var(--color-overlay-input);
  border-radius: 1000px;
  border: solid 4px var(--color-bg);
  cursor: pointer;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-overlay-input-scrollbar);
  border-radius: 1000px;
  border: solid 4px var(--color-overlay-input);
  cursor: pointer;
}

/* hide scrollbar corners */
textarea::-webkit-scrollbar-corner {
  background-color: transparent;
  display: none;
}
