/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

/* general vars */
:root {
  /* buttons */
  --transition-click-action: transform 0.3s ease-out;
  /* general homepage */
  --footer-height: 36px;
  --nav-spacing: 0.5rem;
  /* portal */
  --radius-calendar: 15px;
  --padding-portal: 60px;
  /* sidebar */
  --radius-sidebar: 20px;
  --padding-sidebar: 20px;
  --size-sidebar-button: 35px;
  --width-sidebar-button-showing: 100px;
  /* calendar page vars */
  --padding-calendar: 20px;
  --size-calendar-header: 30px;
  --gap-calendar-day: 5px;
  --radius-calendar-day: 5px;
  --spacing-calendar-day: 5px;
  --size-calendar-day-date: 20px;
  --padding-calendar-test: 5px;
  --height-calendar-test: 25px;
  /* test card */
  --height-test-card: 40px;
  --padding-test-card-icon: 5px;
}
/* light theme colors for the project */
:root {
  /* colors */
  --color-home: #ffffff;
  --color-bg: #ffffff;
  --color-on-bg: #f0f0f0;
  --color-primary: #242325;
  --color-on-primary: #ffffff;
  --color-text: #000;
  --color-accent: #000;
  --color-footer: #ddd;
  --color-footer-text: #222;
  --color-link: #45818e;
  --color-theme: #f5c14b;
  --color-theme-accent: #000;
  --color-theme-accent-border: #4c4c4c;
  --color-on-action: #fff;
  --color-action: #242325;
  --filter-icon: none;
  --color-secondary: #f2f2f2;
  --shadow-highlight: /* 0 0 1px 2px #ffffff,  */ 0 0 10px #00000030;
  /** calendar **/
  --color-calendar: #ffffff;
  --color-on-calendar: #b6b6b6;
  --color-calendar-header: #e8e8e8;
  --color-calendar-header-hover: #d9d9d9;
  /* calendar day */
  --color-calendar-day: #f0f0f0;
  --color-calendar-day-today: #ffe8b3;
  --color-calendar-date: #cccccc80;
  --color-on-calendar-date: #969696;
  /* calendar test */
  --color-calendar-test: #f5c14b;
  --color-on-calendar-test: #fff;
  --filter-calendar-test: none;
  --color-text-on-calendar: #333;
  /* test card */
  --color-test-card-icon: #f5f5f5;
  --filter-test-card-icon: none;
  --color-test-separator: #f2f2f2;
  /* classes */
  --spacing-classes: 10px;
  --spacing-classes-alt: 5px;
  --color-class: #f5c14b;
}

/* dark theme alternatives */
@media (prefers-color-scheme: dark) {
  :root {
    /*! dark color scheme */
    --color-home: #16130e;
    --color-bg: #1c1c1c;
    --color-on-bg: #2b2b2b;
    --color-primary: #ffffff;
    --color-on-primary: #242325;
    --color-text: #fff;
    --color-accent: #fff;
    --color-footer: #3a3a3a;
    --color-footer-text: #ddd;
    --color-link: #178ca7;
    --color-action: #f5c14b;
    --color-on-action: #000;
    --filter-icon: invert(1) hue-rotate(180deg);
    --color-secondary: #121212;
    --shadow-highlight: 0 0 1px 2px #00000020, 0 0 10px #00000020;
    /* calendar */
    --color-calendar: #1c1c1c;
    --color-on-calendar: #707070;
    --color-calendar-header: #2b2b2b;
    --color-calendar-header-hover: #333333;
    --color-calendar-day: #2b2b2b;
    --color-calendar-day-today: #3d3a33;
    --color-calendar-date: #55555560;
    --color-on-calendar-date: #1d1d1d;
    /* calendar test */
    --color-on-calendar-test: #000000;
    --filter-calendar-test: brightness(0.65) saturate(1.6);
    --color-text-on-calendar: #888;
    /* test card */
    --color-test-card-icon: #2b2b2b;
    --filter-test-card-icon: brightness(1.54);
    --color-test-separator: #333;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: unset;
  /* font-weight: normal; */
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "Inter", "Poppins", "Open Sans", sans-serif;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-bg);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
a[href],
input,
textarea,
select,
.router-link-exact-active {
  cursor: pointer;
}

a[href],
.router-link-exact-active {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 600;
}

/* util.css colors */
:root {
  /*toast*/
  --toast-bg: hsl(42, 20%, 91%);
  --toast-bg-transparent: hsla(42, 20%, 91%, 0.667);
  --toast-text: hsl(42, 3%, 27%);
  --toast-border: hsl(42, 0%, 78%);
  --toast-secondary: hsl(0, 0%, 90%);
  /*popup*/
  --primary: #242325;
  --primary-container: hsl(42, 0%, 83%);
  --on-primary: #ffffff;
  --on-primary-container: #001f26;
  --popup-bg: hsl(42, 20%, 91%);
  --on-popup-bg: hsl(42, 3%, 27%);
  --popup-red: #93000a;
}
@media (prefers-color-scheme: dark) {
  :root {
    /*toast*/
    --toast-bg: #191c1d;
    --toast-bg-transparent: #303030aa;
    --toast-text: #ffffff;
    --toast-border: #242424;
    --toast-secondary: #3b3b3b;
    /*popup*/
    --primary: #f5c14b;
    --primary-container: hsl(36, 100%, 18%);
    --on-primary: hsl(36, 100%, 13%);
    --on-primary-container: hsl(36, 100%, 84%);
    --popup-bg: #1c1c1c;
    --on-popup-bg: hsl(36, 3%, 89%);
    --popup-red: #de3730;
  }
}
