/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/* light theme colors for the project */
:root {
  /* colors */
  --color-bg: #ffffff;
  --color-primary: #242325;
  --color-text: #000;
  --color-accent: #000;
}

/* dark theme alternatives */
@media (prefers-color-scheme: dark) {
  :root {
    /*! dark color scheme */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
body {
  font-family: 'Inter', 'Poppins', 'Open Sans', sans-serif;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-bg);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
