/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

/* general vars */
:root {
  --footer-height: 36px;
  --nav-spacing: 0.5rem;
}

/* light theme colors for the project */
:root {
  /* colors */
  --color-home: #ffffff;
  --color-bg: #ffffff;
  --color-primary: #242325;
  --color-on-primary: #ffffff;
  --color-text: #000;
  --color-accent: #000;
  --color-footer: #ddd;
  --color-footer-text: #222;
  --color-link: #45818e;
  --color-theme: #f5c14b;
  --color-theme-accent: #000;
  --color-theme-accent-border: #4c4c4c;
  --color-on-action: #fff;
  --color-action: #242325;
  --filter-icon: none;
  --color-secondary: #f2f2f2;
  --shadow-highlight: 0 0 10px #00000030;
  /* general */
  --radius-sidebar: 20px;
  --padding-sidebar: 20px;
}

/* dark theme alternatives */
@media (prefers-color-scheme: dark) {
  :root {
    /*! dark color scheme */
    --color-home: #16130e;
    --color-bg: #1c1c1c;
    --color-primary: #ffffff;
    --color-on-primary: #242325;
    --color-text: #fff;
    --color-accent: #fff;
    --color-footer: #3a3a3a;
    --color-footer-text: #ddd;
    --color-link: #178ca7;
    --color-action: #f5c14b;
    --color-on-action: #000;
    --filter-icon: invert(1);
    --color-secondary: #121212;
    --shadow-highlight: 0 0 10px #00000020;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: unset;
  font-weight: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "Inter", "Poppins", "Open Sans", sans-serif;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-bg);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
a[href],
input,
textarea,
select,
.router-link-exact-active {
  cursor: pointer;
}

a[href],
.router-link-exact-active {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 600;
}
